[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
django-postgres-extra = "*"
django-extensions = "*"
django-filter = "*"
djangorestframework = "*"
channels = "*"
channels-redis = "*"
uvicorn = {extras = ["standard"], version = "*"}
django-redis = "*"

[dev-packages]

[requires]
python_version = "3.10"
